{{ define "main" }}
<div class="grid h-screen place-items-center">
  <div class="w-full max-w-4xl sm:px-6 lg:px-8">
    <div class="pb-5 border-b border-gray-200">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Delete Project: {{ .CurrentProject.Title }}?</h3>
      <p class="max-w-4xl mt-2 text-sm text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates ad, autem dolore numquam cum vero est consequatur doloribus fuga debitis nam modi maiores obcaecati magni nobis distinctio minus vitae?
      </p>
    </div>
    <form class="mt-8 space-y-8 divide-y divide-gray-200" method="post" action="/dashboard/project/{{ .CurrentProject.ID }}/delete">
      <div class="pt-5">
        <div class="flex justify-end">
          <a href="{{ if .Redirect }}{{ .Redirect }}{{ else }}/dashboard{{ end }}" class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Cancel</a>
          <button type="submit" class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Yes, Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}